#root {
  font-family: Arial, Helvetica, sans-serif;
}
.Header {
  display: flex;
  align-items:center;
  height: 65px;
  background: linear-gradient(90deg, #532280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}
.troll {
  height: 100%;
  margin-right: 6px;
}
.Header-title {
  font-size: 1.75rem;
  margin-right: auto;
}
.Header-name {
  font-size: 0.75rem;
  font-weight: 500;
  padding-right: 50px;
}
.formButton {
  background: linear-gradient(90deg, #532280 1.18%, #A626D3 100%);
  color:white;
  border: none;
  border-radius: 5px;
  grid-column: 1/3;
  height: 40px;
}
.MemeForm {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.input1 {
  margin: 50px 10px 20px 0;
  height: 40px;
  border-radius: 5px;
}
.input2 {
  margin: 50px 0 20px 10px;
  height: 40px;
  border-radius: 5px;
}
