.title {
    text-align: center;
}

.main {
    border: 1px solid black;
    width: 60%;
    margin: auto;
    background: #b0e3ae;

}

#add-item {
    border: 1px solid black;
}
.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.label {
    margin: 10px;
}

#list {
    flex-direction: column;
    display: inline-block; 
    width: 80%;   
    margin: 0 0 0 1.5em;
    background: white;
    margin-bottom: 5px;
}

#list > li{
    list-style-type: none;
    margin: 10px auto;
    
}

#list div {
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;    


}
body {
    background: lightblue;
}
ul#list > li > div {
    text-align: left;
    display: inline-block;
    padding: 3px;
}
ul#list > li > button {
    display: flex;
    float: right;
    margin: 0 1em;
}
